<div class="panel-overlay"></div>
<div class="panel panel-left panel-reveal">
  <div class="content-block">
    <p>Left Panel content here</p>
  </div>
</div>

<div class="views">
  <div class="pages">
    {{outlet}}
  </div>
</div>
