<div class="page toolbar-fixed navbar-fixed">
  {{#f7-navbar}}
    <div class="left">
      <a class="link icon-only" href="#" {{action 'panelLeft'}}>
        <i class="icon icon-bars"></i>
      </a>
    </div>
    <div class="center wool-logo">
      Settings
    </div>
    <div class="right"></div>
  {{/f7-navbar}}
  {{outlet}}
</div>
